<h1>ようこそ<%= current_user.name %></h1>
<p>Blockの一覧画面です</p>

<% if @blocks.any? %>
    <ol class="blocks">
        <%= render @blocks %>
    </ol>
<% else %>
    <h3>まだブロックは存在しません。作成しましょう！</h3>
<% end %>

<%= link_to '新しいブロック作成', new_block_path %>