<h2><%= current_user.name %>さんのBlockの一覧画面</h2>

<% if @blocks.any? %>
    <ol class="blocks">
        <%= render @blocks %>
    </ol>
<% else %>
    <h3>まだブロックは存在しません。作成しましょう！</h3>
<% end %>

<%= link_to '新しいブロック作成', new_block_path %>